<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="output.css" rel="stylesheet">
    <link rel="icon" href="/image/favicon.ico" type="image/x-icon">
    <title>Slash Shot</title>
  </head>
  <body>
    <div class="font-mono">
      <h1 class="text-3xl font-bold underline"></h1>
    </div>
    <div id="game">
      <div id="canvas"></div>
      <div id="editors">
        <div id="editor1">
          <code><pre id="player1-editor"></pre></code>
        </div>
        <div id="editor2">
          <code><pre id="player2-editor"></pre></code>
        </div>
      </div>
  </body>
  <script src="/dist/game.bundle.js"></script>
</html>
