<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="output.css" rel="stylesheet">
    <link rel="icon" href="/image/favicon.ico" type="image/x-icon">
    <title>Slash Shot</title>
  </head>
  <body class="bg-indigo-900 h-screen m-0 flex items-center justify-center font-sans">
    <div class="text-white">
      <img src="/image/pink2.png" alt="SlashShot-logo" />
      <h1 class="text-center text-4xl">👾プレイヤー2👾</h1>
      <h2 class="text-center text-3xl">がめんをタッチしてください</h2>
    </div>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        document.body.addEventListener('click', function() {
          window.location.href = '/p2_desc';
        });
    });
  </script>
</html>
